.card {
  width: 330px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #6D48D7;
}
.title {
  font-size: 50px;
}

input {
  height: 50px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;

  color: white;
  background-color: transparent;

  transition: .4s;
}

.small_button {
  font-size: 17px;

  margin-left: 20px;
  padding: 7px 12px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: .4s;
}
.small_button:hover {
  padding: 10px 15px;
}

.small_button:active {
  color: transparents;
  background-color: transparent;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.btn {
  padding: 5px 5px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 4px;

  color: white;
  background-color: transparent;

  cursor: pointer;
  transition: .4s;
}
.btn:hover {
  font-size: 23px;
}
.btn:active {
  background-color: #230672;
}
.status {
  padding: auto;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border: none;

  cursor: pointer;
  transition: .5s;
}
.status:hover {
  border: 1px solid white;
  border-radius: 4px;

  font-size: 23px;
}
.status:active {
  color: transparent;
}

.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  font-size: 20px;
  cursor: pointer;
}

.checkbox {
  width: 20px;
  height: 20px;
}
.checkbox:checked + .text {
  text-decoration: line-through;
}

.select {
  border: 1px solid white;
  border-radius: 4px;

  font-size: 23px;
}